Repository prgrms-be-devcourse/NBE4-5-2-Team08, pull requests merged in 2025-03, with the labels that each got.

#14 Feat/#12 응답 데이터 형식 및 전역 예외처리 추가
  backend/project2/src/main/java/com/team8/project2/global/aspect/ResponseAspect.java
  backend/project2/src/main/java/com/team8/project2/global/dto/Empty.java
  backend/project2/src/main/java/com/team8/project2/global/dto/RsData.java
  backend/project2/src/main/java/com/team8/project2/global/exception/GlobalExceptionHandler.java
  backend/project2/src/main/java/com/team8/project2/global/exception/ServiceException.java
Labels: feat, backend

#17 Feat/#15 개발, 테스트, 운영 환경분리
  backend/project2/.gitignore
  backend/project2/src/main/resources/application-dev.yml
  backend/project2/src/main/resources/application-prod.yml
  backend/project2/src/main/resources/application-test.yml
  backend/project2/src/main/resources/application.yml
Labels: backend

#38 Feat/#36 search curation
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/tag/service/TagService.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/service/CurationServiceTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/tag/service/TagServiceTest.java
Labels: feat, backend

#42 Feat/#39 큐레이션에 좋아요 기능 추가
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/Curation.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/SearchOrder.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/like/entity/Like.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/service/CurationServiceTest.java
Labels: feat, backend

#44 Hotfix/#43 Like 엔티티의 테이블명이 DB 예약어라서 발생하던 오류 해결
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/Curation.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/like/entity/Like.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
Labels: backend, bug

#47 Feat/#46 메인 페이지 및 기본 화면 레이아웃 구성
  frontend/project2/app/components/header.tsx
  frontend/project2/app/components/left-sidebar.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/components/right-sidebar.tsx
  frontend/project2/app/globals.css
  frontend/project2/app/layout.tsx
  frontend/project2/app/page.tsx
  frontend/project2/components/ui/tabs.tsx
  frontend/project2/libs/utils.ts
  frontend/project2/package-lock.json
  frontend/project2/package.json
  frontend/project2/postcss.config.js
  frontend/project2/tailwind.config.js
Labels: feat, frontend

#52 Refactor/#51 comment api 리팩토링
  backend/project2/src/main/java/com/team8/project2/domain/comment/controller/ApiV1CommentController.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/dto/CommentDto.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/entity/Comment.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/service/CommentService.java
  backend/project2/src/main/java/com/team8/project2/domain/member/repository/MemberRepository.java
  backend/project2/src/main/java/com/team8/project2/global/dto/RsData.java
  backend/project2/src/main/java/com/team8/project2/global/exception/GlobalExceptionHandler.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/test/java/com/team8/project2/domain/comment/controller/ApiV1CommentControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/service/CurationServiceTest.java
Labels: feat, backend

#53 Feat/#49 메인페이지 정렬, 메타데이터, 좋아요 기능 추가
  backend/project2/build.gradle
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/link/controller/ApiV1LinkController.java
  backend/project2/src/main/java/com/team8/project2/domain/link/dto/LinkResDTO.java
  backend/project2/src/main/java/com/team8/project2/domain/link/service/LinkService.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/page.tsx
Labels: feat, backend, frontend

#66 Feat/메인페이지 태그 표시 및 태그 필터링 기능 추가
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/service/CurationServiceTest.java
  frontend/project2/app/components/post-list.tsx
  frontend/project2/package-lock.json
  frontend/project2/package.json
Labels: feat, frontend

#67 Feat/#48 curation details page
  backend/project2/src/main/java/com/team8/project2/domain/comment/controller/ApiV1CommentController.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/entity/Comment.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/service/CommentService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationDetailResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/Curation.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/test/java/com/team8/project2/domain/comment/controller/ApiV1CommentControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/service/CurationServiceTest.java
  frontend/project2/app/components/comment-section.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/next.config.ts
Labels: feat, backend, frontend

#76 Feat/#33 jwt
  .idea/compiler.xml
  .idea/modules.xml
  .idea/modules/com.team8.project2.main.iml
  backend/project2/build.gradle
  backend/project2/src/main/java/com/team8/project2/domain/member/controller/ApiV1MemberController.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/MemberDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/MemberReqDTO.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/MemberResDTO.java
  backend/project2/src/main/java/com/team8/project2/domain/member/entity/Member.java
  backend/project2/src/main/java/com/team8/project2/domain/member/repository/MemberRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/member/service/AuthTokenService.java
  backend/project2/src/main/java/com/team8/project2/domain/member/service/MemberService.java
  backend/project2/src/main/java/com/team8/project2/global/Rq.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  backend/project2/src/main/java/com/team8/project2/global/security/CustomAuthenticationFilter.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityUser.java
  backend/project2/src/main/java/com/team8/project2/standard/util/Ut.java
  backend/project2/src/main/resources/application-test.yml
  backend/project2/src/main/resources/application.yml
  backend/project2/src/test/java/com/team8/project2/domain/member/controller/ApiV1MemberControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/member/service/AuthTokenServiceTest.java
Labels: backend

#75 Feat/#74 특정 큐레이터의 큐레이션 조회
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/service/CurationServiceTest.java
  backend/project2/src/test/java/com/team8/project2/domain/playlist/service/PlaylistServiceTest.java
  frontend/project2/app/[username]/page.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/curation/[id]/page.tsx
Labels: feat, backend, frontend

#84 Feat/#77 댓글 인증 적용
  backend/project2/src/main/java/com/team8/project2/domain/comment/controller/ApiV1CommentController.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/service/CommentService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationDetailResDto.java
  backend/project2/src/main/java/com/team8/project2/global/dto/RsData.java
  backend/project2/src/main/java/com/team8/project2/global/exception/GlobalExceptionHandler.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/test/java/com/team8/project2/domain/comment/controller/ApiV1CommentControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistControllerTest.java
Labels: feat, backend

#86 Feat/ 사용자 플레이리스트 목록 페이지
  backend/.idea/compiler.xml
  backend/.idea/gradle.xml
  backend/.idea/misc.xml
  backend/.idea/modules.xml
  backend/.idea/modules/project2.main.iml
  backend/.idea/modules/project2.test.iml
  backend/project2/src/main/java/com/team8/project2/domain/playlist/entity/Playlist.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  frontend/node_modules/@types/react-dom/LICENSE
  frontend/node_modules/@types/react-dom/README.md
  frontend/node_modules/@types/react-dom/canary.d.ts
  frontend/node_modules/@types/react-dom/client.d.ts
  frontend/node_modules/@types/react-dom/experimental.d.ts
  frontend/node_modules/@types/react-dom/index.d.ts
  frontend/node_modules/@types/react-dom/package.json
  frontend/node_modules/@types/react-dom/server.d.ts
  frontend/node_modules/@types/react-dom/static.d.ts
  frontend/node_modules/@types/react-dom/test-utils/index.d.ts
  frontend/node_modules/@types/react/LICENSE
  frontend/node_modules/@types/react/README.md
  frontend/node_modules/@types/react/canary.d.ts
  frontend/node_modules/@types/react/compiler-runtime.d.ts
  frontend/node_modules/@types/react/experimental.d.ts
  frontend/node_modules/@types/react/global.d.ts
  frontend/node_modules/@types/react/index.d.ts
  frontend/node_modules/@types/react/jsx-dev-runtime.d.ts
  frontend/node_modules/@types/react/jsx-runtime.d.ts
  frontend/node_modules/@types/react/package.json
  frontend/node_modules/@types/react/ts5.0/canary.d.ts
  frontend/node_modules/@types/react/ts5.0/experimental.d.ts
  frontend/node_modules/@types/react/ts5.0/global.d.ts
  frontend/node_modules/@types/react/ts5.0/index.d.ts
  frontend/node_modules/@types/react/ts5.0/jsx-dev-runtime.d.ts
  frontend/node_modules/@types/react/ts5.0/jsx-runtime.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/global.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/index.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/jsx-dev-runtime.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/jsx-runtime.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/ts5.0/global.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/ts5.0/index.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/ts5.0/jsx-dev-runtime.d.ts
  frontend/node_modules/@types/react/ts5.0/v18/ts5.0/jsx-runtime.d.ts
  frontend/project2/app/components/add-to-playlist-modal.tsx
  frontend/project2/app/components/playlist-form.tsx
  frontend/project2/app/components/playlist-grid.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/globals.css
  frontend/project2/app/playlists/[id]/page.tsx
  frontend/project2/app/playlists/new/page.tsx
  frontend/project2/app/playlists/page.tsx
  frontend/project2/components/ui/button.tsx
  frontend/project2/components/ui/card.tsx
  frontend/project2/components/ui/input.tsx
  frontend/project2/components/ui/label.tsx
  frontend/project2/components/ui/textarea.tsx
  frontend/project2/lib/playlist-service.ts
  frontend/project2/package-lock.json
  frontend/project2/package.json
  frontend/project2/tailwind.config.js
  frontend/project2/types/playlist.ts
Labels: feat, frontend

#89 Feat/#85 큐레이터 팔로우 기능 추가
  backend/apiV1.json
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/CurationLink.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/CurationTag.java
  backend/project2/src/main/java/com/team8/project2/domain/member/controller/ApiV1MemberController.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/FollowResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/FollowingResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/UnfollowResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/entity/Follow.java
  backend/project2/src/main/java/com/team8/project2/domain/member/entity/Member.java
  backend/project2/src/main/java/com/team8/project2/domain/member/repository/FollowRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/member/service/MemberService.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  backend/project2/src/main/resources/application.yml
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/member/controller/ApiV1MemberControllerTest.java
  frontend/project2/components.json
  frontend/project2/lib/utils.ts
  frontend/project2/libs/backend/apiV1/schema.d.ts
Labels: feat, backend

#93 Feat/#92 팔로우중인 큐레이터의 큐레이션 조회
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/global/exception/GlobalExceptionHandler.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/controller/ApiV1CurationControllerTest.java
  frontend/project2/app/components/comment-section.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/components/skeleton/comment-skeleton.tsx
  frontend/project2/app/components/skeleton/curation-detail.tsx
  frontend/project2/app/components/skeleton/curation-skeleton.tsx
  frontend/project2/app/components/skeleton/sidebar-skeleton.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/curation/following/page.tsx
  frontend/project2/app/page.tsx
  frontend/project2/components/ui/tabs.tsx
Labels: feat, backend, frontend

#98 Fix/테스트 오류 수정
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/test/java/com/team8/project2/domain/member/controller/ApiV1MemberControllerTest.java
Labels: bug

#106 Hotfix/frontend build 오류 수정
  frontend/project2/app/[username]/page.tsx
  frontend/project2/app/components/comment-section.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/next.config.mjs
Labels: frontend

#113 Feat/#111 관리자 api
  backend/apiV1.json
  backend/project2/src/main/java/com/team8/project2/domain/admin/controller/ApiV1AdminController.java
  backend/project2/src/main/java/com/team8/project2/domain/admin/dto/StatsResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/admin/service/AdminService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/like/repository/LikeRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/member/controller/ApiV1MemberController.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/repository/PlaylistRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/report/entity/Report.java
  backend/project2/src/main/java/com/team8/project2/domain/report/repository/ReportRepository.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/test/java/com/team8/project2/domain/admin/controller/ApiV1AdminControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/admin/service/AdminServiceTest.java
  backend/project2/src/test/java/com/team8/project2/domain/curation/service/CurationServiceTest.java
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/libs/backend/apiV1/schema.d.ts
Labels: feat, backend

#114 Feat/#99 글 작성, 수정에 마크다운, 이미지 첨부 기능 추가
  backend/project2/build.gradle
  backend/project2/src/main/java/com/team8/project2/Project2Application.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/Curation.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/event/CurationDeleteEvent.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/event/CurationEventListener.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/event/CurationUpdateEvent.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/image/config/S3Config.java
  backend/project2/src/main/java/com/team8/project2/domain/image/controller/CurationImageController.java
  backend/project2/src/main/java/com/team8/project2/domain/image/entity/CurationImage.java
  backend/project2/src/main/java/com/team8/project2/domain/image/repository/CurationImageRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/image/service/CurationImageService.java
  backend/project2/src/main/java/com/team8/project2/domain/image/service/S3Uploader.java
  backend/project2/src/main/java/com/team8/project2/domain/image/service/UnusedImageCleanerService.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/main/resources/application.yml
  backend/project2/src/test/java/com/team8/project2/domain/image/service/UnusedImageCleanerServiceTest.java
  frontend/project2/app/[username]/page.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/components/quill-editor.tsx
  frontend/project2/app/create-curation/page.tsx
  frontend/project2/app/curation/[id]/edit/page.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/curation/following/page.tsx
  frontend/project2/lib/htmlutils.ts
  frontend/project2/libs/backend/apiV1/schema.d.ts
  frontend/project2/package-lock.json
  frontend/project2/package.json
Labels: feat, backend, frontend

#112 Feat/ 플레이리스트 상세페이지
  backend/project2/src/main/java/com/team8/project2/domain/link/controller/ApiV1LinkController.java
  backend/project2/src/main/java/com/team8/project2/domain/link/dto/LinkReqDTO.java
  backend/project2/src/main/java/com/team8/project2/domain/link/entity/Link.java
  backend/project2/src/main/java/com/team8/project2/domain/link/service/LinkService.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistController.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/dto/PlaylistDto.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/dto/PlaylistItemDto.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/dto/PlaylistLike.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/entity/Playlist.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/entity/PlaylistItem.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/repository/PlaylistLikeRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/service/PlaylistService.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/test/java/com/team8/project2/domain/link/service/LinkServiceTest.java
  backend/project2/src/test/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistControllerTest.java
  backend/project2/src/test/java/com/team8/project2/domain/playlist/service/PlaylistServiceTest.java
  frontend/project2/app/components/add-link-button.tsx
  frontend/project2/app/components/like-button.tsx
  frontend/project2/app/components/liked-playlist-grid.tsx
  frontend/project2/app/components/playlist-form.tsx
  frontend/project2/app/components/playlist-grid.tsx
  frontend/project2/app/components/playlist-items.tsx
  frontend/project2/app/playlists/[id]/edit/page.tsx
  frontend/project2/app/playlists/[id]/page.tsx
  frontend/project2/app/playlists/page.tsx
  frontend/project2/components/ui/badge.tsx
  frontend/project2/components/ui/dialog.tsx
  frontend/project2/components/ui/dropdown-menu.tsx
  frontend/project2/lib/playlist-service.ts
  frontend/project2/types/playlist.ts
Labels: feat, backend, frontend

#117 Feat/좋아요 기능 큐레이션 응답에 포함
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationDetailResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/like/repository/LikeRepository.java
  backend/project2/src/main/java/com/team8/project2/global/Rq.java
  frontend/project2/app/components/comment-section.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/curation/following/page.tsx
Labels: feat, backend, frontend

#119 Feat/#118 팔로우 기능 연결
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationDetailResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/member/controller/ApiV1MemberController.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/CuratorInfoDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/FollowResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/UnfollowResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/entity/Follow.java
  backend/project2/src/main/java/com/team8/project2/domain/member/repository/FollowRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/member/service/MemberService.java
  frontend/project2/app/[username]/page.tsx
  frontend/project2/app/components/header.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/following/page.tsx
Labels: feat, backend, frontend

#121 Feat/#120 큐레이션 신고
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/report/entity/Report.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/report/entity/ReportType.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/report/repository/ReportRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/report/entity/Report.java
  backend/project2/src/main/java/com/team8/project2/domain/report/repository/ReportRepository.java
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/components/report-modal.tsx
  frontend/project2/app/curation/[id]/edit/page.tsx
  frontend/project2/app/curation/[id]/page.tsx
Labels: feat, backend, frontend

#124 Refactor/ 내 플레이리스트 필터링해서 조회
  backend/project2/src/main/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistController.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/dto/PlaylistItemDto.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/entity/Playlist.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/repository/PlaylistLikeRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/repository/PlaylistRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/service/PlaylistService.java
  backend/project2/src/main/java/com/team8/project2/global/security/SecurityConfig.java
  backend/project2/src/test/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistControllerTest.java
  frontend/project2/app/components/add-link-button.tsx
  frontend/project2/app/components/playlist-grid.tsx
  frontend/project2/app/components/playlist-items.tsx
  frontend/project2/app/playlists/[id]/edit/page.tsx
  frontend/project2/app/playlists/[id]/page.tsx
  frontend/project2/lib/playlist-service.ts
Labels: backend, frontend

#126 Refactor/ 플레이리스트 UI 수정
  backend/project2/src/main/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistController.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/repository/PlaylistLikeRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/repository/PlaylistRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/service/PlaylistService.java
  frontend/project2/app/auth/layout.tsx
  frontend/project2/app/auth/login/page.tsx
  frontend/project2/app/components/add-link-button.tsx
  frontend/project2/app/components/followed-playlist-grid.tsx
  frontend/project2/app/components/header.tsx
  frontend/project2/app/components/like-button.tsx
  frontend/project2/app/components/liked-playlist-grid.tsx
  frontend/project2/app/components/navbar.tsx
  frontend/project2/app/components/playlist-grid.tsx
  frontend/project2/app/components/playlist-items.tsx
  frontend/project2/app/explore/playlists/page.tsx
  frontend/project2/app/playlists/[id]/page.tsx
  frontend/project2/app/playlists/loading.tsx
  frontend/project2/app/playlists/page.tsx
  frontend/project2/lib/auth.ts
  frontend/project2/lib/playlist-service.ts
Labels: frontend

#130 Hotfix/프론트 메타데이터 요청 오류 수정
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/curation/following/page.tsx
Labels: frontend, bug

#132 Feat/#122 프로필 이미지
  backend/project2/src/main/java/com/team8/project2/domain/member/controller/ApiV1MemberController.java
  backend/project2/src/main/java/com/team8/project2/domain/member/event/ProfileImageUpdateEvent.java
  backend/project2/src/main/java/com/team8/project2/domain/member/service/MemberService.java
  backend/project2/src/main/java/com/team8/project2/domain/member/service/ProfileImageEventListener.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  frontend/project2/app/components/headerWrapper.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/curation/following/page.tsx
  frontend/project2/app/following/page.tsx
  frontend/project2/app/profile/page.tsx
Labels: feat, backend, frontend

#134 Feat/#133 트렌딩 태그
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/tag/dto/TagResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/tag/repository/TagRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/tag/service/TagService.java
  frontend/project2/app/admin/members/page.tsx
  frontend/project2/app/components/left-sidebar.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/home/loading.tsx
  frontend/project2/app/home/page.tsx
Labels: feat, backend, frontend

#136 fix: 좋아요순 검색이 Redis의 실제 좋아요 값으로 정렬되도록 오류 수정
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
Labels: backend, bug

#138 Fix/#137 댓글 프로필 사진 표시 오류
  backend/project2/src/main/java/com/team8/project2/domain/comment/dto/CommentDto.java
  frontend/project2/app/admin/members/page.tsx
  frontend/project2/app/components/comment-section.tsx
Labels: feat, backend, frontend

#140 Feat/#139 오늘의 인기 큐레이션
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationSummaryResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/TrendingCurationResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  frontend/project2/app/components/right-sidebar.tsx
Labels: feat, backend, frontend

#145 feat: 공유하기 버튼 기능 추가
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/components/share-button.tsx
  frontend/project2/app/curation/[id]/page.tsx
Labels: feat, frontend

#149 fix: 오늘의 인기 큐레이션 오류 수정
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
Labels: feat, backend

#151 Feat/#150 오늘의 인기 큐레이션에 일간 조회수 표시
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  frontend/project2/app/components/right-sidebar.tsx
Labels: feat, backend, frontend

#153 Feat/#152 글 목록 페이지에 댓글 수 표시
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/entity/Curation.java
  frontend/project2/app/components/post-list.tsx
Labels: feat, backend, frontend

#155 Feat/#154 댓글 답글 기능 구현
  backend/project2/src/main/java/com/team8/project2/domain/comment/controller/ApiV1CommentController.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/dto/ReplyCommentDto.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/entity/Comment.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/entity/ReplyComment.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/repository/ReplyCommentRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/service/CommentService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationDetailResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  frontend/project2/app/components/comment-section.tsx
  frontend/project2/app/components/headerWrapper.tsx
  frontend/project2/app/curation/following/page.tsx
Labels: feat, backend, frontend

#159 Fix/#156 링크 메타 데이터 불러오기 수정
  backend/project2/src/main/java/com/team8/project2/domain/admin/controller/ApiV1AdminController.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/controller/ApiV1CommentController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationDetailResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/link/controller/ApiV1LinkController.java
  backend/project2/src/main/java/com/team8/project2/domain/link/entity/Link.java
  backend/project2/src/main/java/com/team8/project2/domain/link/service/LinkService.java
  frontend/project2/app/[username]/page.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/playlists/page.tsx
Labels: feat, backend, frontend, bug

#146 Feat/링크 편집하기
  backend/project2/src/main/java/com/team8/project2/domain/link/service/LinkService.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistController.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/dto/PlaylistDto.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/dto/PlaylistItemUpdateDto.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/service/PlaylistService.java
  frontend/project2/app/components/header.tsx
  frontend/project2/app/components/playlist-items.tsx
  frontend/project2/app/explore/playlists/page.tsx
  frontend/project2/app/playlists/[id]/page.tsx
  frontend/project2/lib/playlist-service.ts
  frontend/project2/types/playlist.ts
Labels: feat, frontend

#161 Fix/#160 username 페이지에서 큐레이션 개수가 다르게 나오는 오류 수정
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  frontend/project2/app/[username]/page.tsx
  frontend/project2/libs/backend/apiV1/schema.d.ts
Labels: feat, backend, frontend

#167 Bug/플레이리스트 조회수, 좋아요 오류 수정
  backend/project2/src/main/java/com/team8/project2/domain/playlist/controller/ApiV1PlaylistController.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/entity/Playlist.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/entity/PlaylistLike.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/repository/PlaylistLikeRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/service/PlaylistService.java
  frontend/project2/app/components/like-button.tsx
  frontend/project2/app/components/liked-playlist-grid.tsx
  frontend/project2/app/components/playlist-grid.tsx
  frontend/project2/app/favicon.ico
  frontend/project2/app/playlists/[id]/page.tsx
  frontend/project2/lib/playlist-service.ts
Labels: backend

#169 refactor: playlist 상세보기 좋아요 기능 삭제
  frontend/project2/app/playlists/[id]/page.tsx
Labels: frontend, bug

#170 Feat/#162 글 조회에 페이징 무한 스크롤 적용
  backend/project2/src/main/java/com/team8/project2/domain/admin/controller/ApiV1AdminController.java
  backend/project2/src/main/java/com/team8/project2/domain/admin/service/AdminService.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/controller/ApiV1CurationController.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationDetailResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/dto/CurationSearchResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/repository/CurationRepository.java
  backend/project2/src/main/java/com/team8/project2/domain/curation/curation/service/CurationService.java
  backend/project2/src/main/java/com/team8/project2/domain/link/controller/ApiV1LinkController.java
  backend/project2/src/main/java/com/team8/project2/domain/link/dto/LinkClickResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/link/service/LinkService.java
  backend/project2/src/main/java/com/team8/project2/domain/member/controller/ApiV1MemberController.java
  backend/project2/src/main/java/com/team8/project2/domain/member/dto/AllMemberResDto.java
  backend/project2/src/main/java/com/team8/project2/domain/member/repository/MemberRepository.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  frontend/project2/app/[username]/page.tsx
  frontend/project2/app/admin/curations/page.tsx
  frontend/project2/app/admin/dashboard/page.tsx
  frontend/project2/app/components/playlist-items.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/curation/following/page.tsx
  frontend/project2/app/following/page.tsx
  frontend/project2/app/playlists/page.tsx
  frontend/project2/libs/backend/apiV1/schema.d.ts
Labels: feat, backend, frontend

#173 Bug/플레이리스트 오류 수정
  backend/project2/src/main/java/com/team8/project2/domain/link/service/LinkService.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/dto/PlaylistCreateDto.java
  backend/project2/src/main/java/com/team8/project2/domain/playlist/service/PlaylistService.java
  backend/project2/src/main/java/com/team8/project2/global/init/BaseInitData.java
  frontend/project2/app/components/like-button.tsx
  frontend/project2/app/components/liked-playlist-grid.tsx
  frontend/project2/app/components/playlist-grid.tsx
  frontend/project2/app/components/playlist-items.tsx
  frontend/project2/app/components/quill-editor.tsx
  frontend/project2/app/explore/playlists/page.tsx
  frontend/project2/app/playlists/[id]/page.tsx
  frontend/project2/app/playlists/new/page.tsx
  frontend/project2/lib/playlist-service.ts
Labels: frontend

#174 Refactor/#172 인증 상태에 따라 기능 잠금 처리
  frontend/project2/app/components/header.tsx
  frontend/project2/app/components/like-button.tsx
  frontend/project2/app/components/post-list.tsx
  frontend/project2/app/curation/[id]/edit/page.tsx
  frontend/project2/app/curation/[id]/page.tsx
  frontend/project2/app/curation/following/page.tsx
Labels: feat, frontend

#177 Bug/플레이리스트 무한 새로고침
  backend/.idea/encodings.xml
  frontend/project2/app/playlists/[id]/page.tsx
Labels: frontend

#178 Fix/#176 답글이 있으면 댓글이 삭제 안되는 오류
  backend/project2/src/main/java/com/team8/project2/domain/comment/dto/ReplyCommentDto.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/entity/Comment.java
  backend/project2/src/main/java/com/team8/project2/domain/comment/entity/ReplyComment.java
  frontend/project2/app/api/favicon/apple-icon/route.ts
  frontend/project2/app/api/favicon/icon/route.ts
  frontend/project2/app/api/favicon/route.ts
  frontend/project2/app/components/header.tsx
  frontend/project2/app/layout.tsx
  frontend/project2/app/middleware.ts
  frontend/project2/public/icon.svg
Labels: feat, backend, frontend
